/* CSS Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Common CSS */

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #fff3be !important; */
}

#root {
}

body h1 {
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  margin: 1em;
  padding-top: 1em;
}

.assets {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 2rem 0 0.5rem 0;
}

.assets h2 {
  font-size: 2em;
  font-weight: bold;
  margin: 5px;
}
.assets h3 {
  margin: 2px;
  font-weight: bold;
  font-size: 1.25em;
}
.assets h4 {
  margin: 2px;
  font-size: 1.5em;
  font-weight: bold;
}
.assets h5 {
  margin: 0;
}

button {
  background-color: none;
  border: none;
}

.background {
  background-color: #fff3be;
  min-height: "100vh";
  /*  width: 375px; */
}

/* Overview Page */
.overview-page {
  width: 375px;
}

.portfolio-cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.portfolio-card {
  width: 90%;
  display: flex;
  background-color: #ffd600;
  border-radius: 10px;
  box-shadow: 0 6px 6px hsl(0deg 0% 0% / 0.3);
  margin-top: 1em;
  margin: 0.5em auto 0.5em auto;
  padding: 1em;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.portfolio-card h4 {
  font-weight: bold;
}

.portfolio-name-container {
  text-align: center;
  width: 100%;
  padding: 0.5rem 0 1rem 0;
}

.portfolio-name-container h5 {
  font-weight: 800;
}

.portfolio-name-status {
  align-items: center;
  width: 40%;
  margin-left: 0.5em;
}

.portfolio-name-status h4 {
  font-weight: bold;
  font-size: 1.5em;
}

.porfolio-card-values {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.portfolio-card-container {
  width: 100%;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
}

.porfolio-card-value {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0.5em;
  margin: 0.5em;
}

.portfolio-value-title {
  font-weight: bold;
  font-size: 1.2em;
  margin: 0;
}

.portfolio-add-btn {
  width: 4em;
  height: 3em;
  background-color: #074ee8;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
.friend-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 5%;
}
.friend {
  font-weight: bold;
  font-size: 1.2em;
}
.friend-icon {
  font-size: 2em;
  align-items: center;
  fill: blue;
}

.to-portfolio-btn {
  border-style: none;
  color: transparent;
  background-color: transparent;
  cursor: pointer;
}

.to-portfolio-icon {
  font-size: 2.3rem;
  color: #fff3be;
}

.portfolio-add {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  font-weight: bold;
}

.portfolio-add p {
  font-size: 1.25em;
  color: #fff3be;
}
.portfolio-add-icon {
  font-size: 2em;
  font-weight: bold;
}

.positive {
  color: #698d1b;
}

.negative {
  color: #922727;
}

.dashboard_buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0.5rem auto 0.5rem auto;
  /* align-items: center; */
  justify-content: center;
}

.rejection_button {
  color: #fff3be;
  background-color: transparent;
  padding: 0.2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.confirmation_button {
  color: #31231e;
  background-color: transparent;
  padding: 0.2rem;
  width: auto;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

/* .confirmation_button:hover {
  color: rgb(1, 66, 1);
  background-color: white;
  padding: 0.2rem;
  width: auto;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
} */

.button_portfolio_status_change {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
}

.message_container {
  font-size: 1.1em;
  color: #fff;
  text-align: center;

  position: relative;
  padding: 20px;
  border-radius: 10px;
  margin: 0 auto 0 auto;
  max-width: 320px;
}

.message_container p {
  position: relative;
  margin: auto;
  width: 90%;
  color: #31231e;
  z-index: 2;
}

.message_container span {
  font-weight: bold;
}
/* Portfolio Page */
.portfolio-page {
  width: 375px;
}

.portfolio-back-button {
  font-size: 3em;
  position: relative;
  margin-bottom: 0.8em;
  cursor: pointer;
}
.portfolio-title {
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  margin: 0 1em 0 1em;
  padding-top: 0;
}

.portfolio-name {
  text-align: center;
}

.portfolio-dropdown {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
  max-width: 100%;
}
.dropdown {
  max-width: 22%;
  margin-right: 30px;
  font-size: 1em;
}

.portfolio_lineGraph {
  padding-left: 20px;
  width: 350px;
  padding-bottom: 0.5rem;
}
.portfolio_barGraph {
  padding-right: 20px;
  width: 350px;
  height: 350px;
  padding-bottom: 0.5rem;
  margin: 0 auto 0 auto;
}

.stock-container {
  width: 360px;
  margin: 1rem auto 1rem auto;
}

.one-stock {
  background-color: #ffd600;
  margin: 1.1rem 1rem 1.1rem 1rem;
  height: 80px;
  border-radius: 10px;
  box-shadow: 0 6px 6px hsl(0deg 0% 0% / 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.stock-shade {
  height: 60px;
  width: 320px;
  padding: 0 20px 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
}
.button-box-portfolio {
  margin-bottom: 2rem;
  padding: 2rem 0 4rem 0;
}

//Profile page
.user-container {
  width: 360px;
  margin: 0 auto 0.5rem auto;
}

.one-user {
  background-color: #ffd600;
  margin: 1rem;
  height: 60px;
  border-radius: 10px;
  box-shadow: 0 6px 6px hsl(0deg 0% 0% / 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-shade {
  padding: 0 20px 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  width: 95%;
  height: 80%;
  font-size: 1.2rem;
  font-weight: 600;
}

/*portfolio creation page */
.portfolioCreationPage {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-description {
  text-align: center;
  margin-bottom: 2em;
}

.creation_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
}

.creation_submitbtn {
  align-self: center;
}

/* Modals */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 375px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff3be;
  z-index: 2;
  width: 90%;
  height: 50vh;
  border: 5px solid #ffd600;
  border-radius: 10px;
}

.modal-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 3em;
  justify-content: space-around;
}

.modal-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

#modalFooter {
  justify-content: space-around;
}

/* StockSearch */

.drop-down {
  border: 1px transparent black;
  width: 84%;
  margin: auto;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: height 0.2s ease-in-out, opacity 0.2s ease-in-out;
  cursor: pointer;
  overflow: hidden;
  padding-bottom: 10px;
}

/* Message page */
.message_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: auto;
  margin-bottom: 8%;
}

.message-cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem auto 1rem auto;
}

.message-card {
  width: 80%;
  display: flex;
  background-color: #ffd600;
  border-radius: 10px;
  box-shadow: 0 6px 6px hsl(0deg 0% 0% / 0.3);
  margin-top: 1em;
  margin: 0.5em auto 0.5em auto;
  padding: 1em;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.message-card h4 {
  font-weight: bold;
}

.message-name-container {
  text-align: center;
  width: 100%;
  padding: 0.5rem 0 1rem 0;
}

.message-name-container h5 {
  font-weight: 800;
}

.message-name-status {
  align-items: center;
  width: 40%;
  margin-left: 0.5em;
}

.message-name-status h4 {
  font-weight: bold;
  font-size: 1.5em;
}

.message-card-values {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.message-card-container {
  width: 100%;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  padding: 1em;
}

.message-card-value-status {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
  width: 20%;
}
.message-card-value-mainDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
  width: 60%;
}

.message-card-value-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
  width: 20%;
}

.message_bold_span {
  font-weight: bold;
}

.message_button_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.message_button {
  display: inline-block;
  position: relative;
  color: #fff;
  font-weight: 500;
  margin: 0.5em;
  text-decoration: none;
  padding: 5px 8px;
  text-align: center;
  clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%, 0 50%);
  background-color: #31231e;
  background-image: radial-gradient(
    200% 70% at center 20%,
    rgba(48, 44, 45, 1) -30%,
    rgba(50, 46, 47, 1) 49%,
    rgba(22, 18, 19, 1) 50%,
    rgba(22, 18, 19, 1) 150%
  );
  background-repeat: no-repeat;
  transition: background-position-y ease-in-out 250ms;
}
.message_button:hover {
  transform: scale(1.05);
}

.message-card-value-mainDetails p {
  text-align: center;
}

.message-card-value-status p {
  text-align: center;
}

/*////////////////////////////////*/

.hex-button {
  display: inline-block;
  position: relative;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  padding: 50px 80px;
  text-align: center;
  clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%, 0 50%);
  background-color: #31231e;
  background-image: radial-gradient(
    200% 70% at center 20%,
    rgba(48, 44, 45, 1) -30%,
    rgba(50, 46, 47, 1) 49%,
    rgba(22, 18, 19, 1) 50%,
    rgba(22, 18, 19, 1) 150%
  );
  background-repeat: no-repeat;
  transition: background-position-y ease-in-out 250ms;
}
.hex-button:hover {
  transform: scale(1.05);
}

.space-under-add-button {
  margin-bottom: 15%;
}

/* Button, used on overview page */

.hex-button-default {
  display: inline-block;
  position: relative;
  font-weight: 500;
  text-decoration: none;
  color: #fff3be;
  text-align: center;
  clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%, 0 50%);
  background-color: #31231e;
  /* border-style: solid;
  border-width: 4px;
  border: 5px solid #ffd600; */
  height: 2.5em;
  width: 5em;
  margin-right: 0.5em;

  background-repeat: no-repeat;
  transition: background-position-y ease-in-out 250ms;
}
.hex-button-default:hover {
  /* transform: scale(1.05); */
  background-color: #84714f;
}

.hex-button-small {
  display: inline-block;
  position: relative;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%, 0 50%);
  background-color: #fff3be;
  background-image: radial-gradient(
    200% 70% at center 20%,
    rgba(48, 44, 45, 1) -30%,
    rgba(50, 46, 47, 1) 49%,
    rgba(22, 18, 19, 1) 50%,
    rgba(22, 18, 19, 1) 150%
  );
  background-repeat: no-repeat;
  transition: background-position-y ease-in-out 250ms;
}

.navbar {
  position: fixed;
  /* padding: 0.5rem 4rem, 0.55rem, 4rem; */
  width: 375px;
  background-color: #84714f;
  border-radius: 10px;
  margin: auto;
  display: flex;
  align-content: space-around;
}

.navBar_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.navBarLink {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Order book */

.orderBookTitle {
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  margin: 1em 1em 1em 1em;
  padding-top: 0;
}

.orderBookBackButton {
  font-size: 3em;
  margin-bottom: 0.8em;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.bodyOrderbook {
  height: 100vh;
  width: 375px;
  background-color: #fff3be;
  margin-bottom: 10%;
}

#orderBookHeadline {
  color: #31231e;
}

.OrderBookListItemContainer {
  background-color: #fff3be;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.orderBookListItem {
  background-color: #fff3be;
  padding-bottom: 1em;
  width: 90%;
}

#orderBookListEntry {
  background-color: #ffe566;
  border: 7px solid #ffd600;
  padding: 1em;
  border-radius: 15px;
  box-shadow: 0 6px 6px hsl(0deg 0% 0% / 0.3);
}
/* transactions page */

.bodyTransactions {
  width: 375px;
  background-color: #fff3be;
  padding-bottom: 20%;
  height: 100vh;
}

.transactions-cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*   margin: 1rem auto 1rem auto;
  margin-bottom: 20%; */
}

.transactions-card {
  width: 90%;
  display: flex;
  background-color: #ffd600;
  border-radius: 10px;
  box-shadow: 0 6px 6px hsl(0deg 0% 0% / 0.3);
  margin-top: 1em;
  /* margin: 0.5em auto 0.5em auto; */
  padding: 1em;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 1em;
  height: 150%;
}

.transactions-middle-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.padding-bottom {
  padding-bottom: 5px;
}

.transactions_button {
  height: 2.5em;
  width: 4.8em;
  display: inline-block;
  position: relative;
  color: #fff;
  font-weight: 500;
  margin: 0.5em;
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px 8px;
  text-align: center;
  clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%, 0 50%);
  background-color: #31231e;
  background-image: radial-gradient(
    200% 70% at center 20%,
    rgba(48, 44, 45, 1) -30%,
    rgba(50, 46, 47, 1) 49%,
    rgba(22, 18, 19, 1) 50%,
    rgba(22, 18, 19, 1) 150%
  );
  background-repeat: no-repeat;
  transition: background-position-y ease-in-out 250ms;
}
.transactions_button:hover {
  transform: scale(1.05);
}

.your-portfolio-stocks {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 2em;
  padding-bottom: 2em;
}

.stock-counter-transactions-card {
  font-size: 1.5em;
  display: flex;
  justify-content: space-between;
  padding-bottom: 0;
}
.buy-sell-btns {
  display: flex;
  flex-direction: column;
}
.buy-sell-btn {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}
.stock-searchbar {
  border: 2px black solid;
  display: flex;
}

.middle-column-pending {
  width: 40%;
}

.buyShareCard {
  width: 90%;
  display: flex;
  flex-direction: column;
  background-color: #ffd600;
  border-radius: 10px;
  box-shadow: 0 6px 6px hsl(0deg 0% 0% / 0.3);
  margin-top: 1em;
  margin: 0.5em auto 0.5em auto;
  padding: 1em;
  align-items: center;
  /*flex-wrap: wrap;*/
}

.your-stock-name-price {
  text-align: center;
  padding-bottom: 1em;
}

.stock-counter {
  width: 40%;
  display: flex;
  align-items: space-between;
  padding-bottom: 15px;
  justify-content: space-between;
}

.hex-button-transactions {
  display: inline-block;
  position: relative;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%, 0 50%);
  background-color: #31231e;
  background-image: radial-gradient(
    200% 70% at center 20%,
    rgba(48, 44, 45, 1) -30%,
    rgba(50, 46, 47, 1) 49%,
    rgba(22, 18, 19, 1) 50%,
    rgba(22, 18, 19, 1) 150%
  );
  background-repeat: no-repeat;
  transition: background-position-y ease-in-out 250ms;
  width: 5.5em;
  height: 4em;
}

/* Modals */

/* HEX BUTTONS */

.hex-button-small-transaction-card {
  width: 2em;
  display: inline-block;
  position: relative;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%, 0 50%);
  background-color: #fff3be;
  background-image: radial-gradient(
    200% 70% at center 20%,
    rgba(48, 44, 45, 1) -30%,
    rgba(50, 46, 47, 1) 49%,
    rgba(22, 18, 19, 1) 50%,
    rgba(22, 18, 19, 1) 150%
  );
  background-repeat: no-repeat;
  transition: background-position-y ease-in-out 250ms;
}

.hex-button-small:hover {
  transform: scale(1.05);
}

.SearchBar {
  margin: 2em;
}

.StockSearchBar {
  background-color: red;
}

.your-stocks h2 {
  text-align: center;
}

.overview-title {
  padding-top: 0;
}

.overview-title p {
  text-align: center;
  padding-top: 0;
}

.SearchBar p {
  text-align: center;
}

.transaction-search {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 70%;
}

.transaction-search p {
  margin: 0.5em;
}

.search_bar {
  background-color: red;
  color: red;
}

.transactions-title p {
  text-align: center;
}
